<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DeviceMapper" >
  <resultMap id="BaseResultMap" type="ecjtu.homecoo.appserver.domain.Device" >
    <id column="DEVICE_ID" property="deviceId" jdbcType="INTEGER" />
    <result column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE_ID" property="deviceTypeId" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE_NAME" property="deviceTypeName" jdbcType="VARCHAR" />
    <result column="DEVICE_CATEGORY_ID" property="deviceCategoryId" jdbcType="INTEGER" />
    <result column="DEVICE_CATEGORY_NAME" property="deviceCategoryName" jdbcType="VARCHAR" />
    <result column="DEVICE_NAME" property="deviceName" jdbcType="VARCHAR" />
    <result column="GATEWAY_NO" property="gatewayNo" jdbcType="VARCHAR" />
    <result column="SPACE_TYPE_ID" property="spaceTypeId" jdbcType="CHAR" />
    <result column="SPACE_NO" property="spaceNo" jdbcType="VARCHAR" />
    <result column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEVICE_ID, DEVICE_NO, DEVICE_TYPE_ID, DEVICE_TYPE_NAME, DEVICE_CATEGORY_ID, DEVICE_CATEGORY_NAME, 
    DEVICE_NAME, GATEWAY_NO, SPACE_TYPE_ID, SPACE_NO, PHONE_NUM, CREATE_TIME, CREATE_BY, 
    UPDATE_TIME, UPDATE_BY
  </sql>
  
  <delete id="deleteByDeviceNo" parameterType="String" >
    delete from t_device
    where DEVICE_NO = #{deviceNo}
  </delete>
  
  <insert id="insertDevice" parameterType="ecjtu.homecoo.appserver.domain.Device" >
  	insert into t_device 
  	(DEVICE_NO,DEVICE_TYPE_ID,DEVICE_TYPE_NAME,DEVICE_CATEGORY_ID,DEVICE_CATEGORY_NAME,DEVICE_NAME,GATEWAY_NO,SPACE_TYPE_ID,
  	 SPACE_NO,PHONE_NUM,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY)
  	values(#{deviceNo},#{deviceTypeId},#{deviceTypeName},#{deviceCategoryId},#{deviceCategoryName},
  	#{deviceName},#{gatewayNo},#{spaceTypeId},#{spaceNo},#{phoneNum},#{createTime},#{createBy},#{updateTime},#{updateBy})
  </insert>
  
  <update id="updateDeviceByDeviceNo" parameterType="ecjtu.homecoo.appserver.domain.Device">
  	update t_device set GATEWAY_NO=#{gatewayNo} where DEVICE_NO=#{deviceNo}
  </update>
  
  <select id="existsDeviceByDeviceNo" parameterType="String" resultMap="BaseResultMap">
  	select * from t_device where DEVICE_NO=#{deviceNo}
  </select>
  
  
</mapper>